<!--/.row-->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Combined All Table
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
          <tr>
            <th>Recipient Address</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Min Execution Date</th>
            <th>Executed</th>
            <th>Proposal Passed</th>
            <th>Number Of Votes</th>
            <th>Proposal Hash</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let hero of heroes">
            <td>0x2ef01b493d2e9736ad94de246e3d3c9c8790db1c</td>
            <td>20</td>
            <td>this is a job</td>
            <td>1537761396</td>
            <td>false</td>
            <td>false</td>
            <td>0</td>
            <td>0xf8d3a0ba580fff08f28c24dbb9ddd9390c1de4ccfe7def328bb33c2d28b892ba</td>
            <!--<td>-->
              <!--<span class="badge badge-success">Active</span>-->
            <!--</td>-->
          </tr>

          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
<!--/.row-->
