<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Submit New Proposal</strong>
      </div>
      <div class="card-body">
        <form action="" method="post" class="form-horizontal">
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input [(ngModel)]="newProposal.beneficiary_address" type="text" id="beneficiary_address" name="beneficiary_address" class="form-control" placeholder="Beneficiary (Must be and address)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input [(ngModel)]="newProposal.wei_amount" type="text" id="wei_amount" name="wei_amount" class="form-control" placeholder="Wei Amount (Amount in wei)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <textarea [(ngModel)]="newProposal.job_description" id="job_description" name="job_description" class="form-control" cols="30" rows="5" placeholder="Job Description"></textarea>
                <!--<input type="textarea" id="job-description" name="job-description" class="form-control" placeholder="Job Description">-->
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input  [(ngModel)]="newProposal.transaction_bytecode" value="0xb1050da5" type="text" id="transaction_bytecode" name="transaction_bytecode" class="form-control" placeholder="0xb1050da5">
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="card-footer">
        <button (click)="submitProposal()" type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
      </div>
    </div>
  </div>

</div>
